.sidebar {
  flex: 3;
  padding: 0 20px;
}
.sidebar .area {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 30px;
}
.sidebar h2 {
  font-family: "Satisfy", cursive;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}
.sidebar h2::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
}
.sidebar img {
  padding: 5px;
  border-radius: 15px;
}
.sidebar .categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 13px;
}
.sidebar .categories span {
  display: block;
  width: calc(50% - 10px);
  background-color: rgba(248, 154, 249, 0.127);
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
}
.sidebar a {
  display: block;
  padding: 3px;
  margin-bottom: 5px;
  font-family: "Playwrite DE Grund", cursive;
  font-size: 13px;
  background-color: rgba(248, 154, 249, 0.127);
}
.sidebar a:nth-child(2n + 1){
    background-color: rgba(248, 154, 249, 0.187);
}
/*scrollanimation*/
.sidebar .area{
    opacity: 0;
    transition: all 0.5s;
}
.sidebar .area.active{
    opacity: 1;
}